*.rar
Lectures/
Scripta/
I_AM_NOT_AUTHOR/
RAMLINUX/
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.bin
*.exe
*.msi
*.o
*.vhd
*.vmdx
*.7z
*.vhdx
*.sav
*.VMRS
*.iso
*.ova
*.vmdk
*.tar.gz
*.vdi
*.tar.bz2
*.tar
*.pcap
*.pcapng
*.avhd
*.dll
venv/
ProductFilter.ps1
*.nupkg
